<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Students</a></li>
        <li><a href="/createStudent">Add student</a></li>
        <li><a href="/createTeacher">Add teacher</a></li>
          <li><a href="/getTeachers">View Teachers</a></li>
      </ul>
    </header>
     <main>
      <h1>Our English Language Teachers</h1>

      {{#each teachers}}
      <div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Experience:</span> {{experience}}</p>
      </div>
      {{/each}}
    </main>
  </div>
  <footer>@Students: Exercise for Express.js and Handlebars</footer>
</body>

</html>