<h1>Teams</h1>
<h3>Manage Users</h3>
<div class="form">
    <form action='/teams' method="POST">
        <label>User</label>
        <select  id="user" name="user">
            {{#each users}}
            <option value="{{this._id}}">{{this.username}}</option>
            {{/each}}
        </select>
        <label>Team</label>
        <select id="team" name="team">
            {{#each teams}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <input type="submit" value="Distribute">
    </form>
</div>